<div class= "container discolor">
  <div class = "col-sm-12 margin-top-2rem article-block padding-top-15 margin-bottom-30">
    <h3 class= "text-center" style= 'margin-bottom: 20px' >記事の作成</h3>

    
    <div class= "padding-bottom-15" >    
     <%= render 'form', article: @article %>      
    </div> 
  </div>    
</div>     

