// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// "new.html.erb"、"show.html.erb"、"edit.html.erb"の文字色を変更
.discolor {
    color:rgba(20, 20, 21, 0.707);
}

.margin-top-2per {
    margin-top: 2%;
}

// indexの記事間ボックス間の余白を追加するために記述
// index
.margin-right-1per {
    margin-right: 1%;
}

.margin-left-1per {
    margin-left: 1%;
}

// スマホサイズ時、ヘッダー２段になる分、下げ
.row {
    padding-top :15px;
}

// なんとなく、記事ブロックに透明度を追加。※透明度を高めると、記事全体が薄くなり微妙な感じになってしまう。
// 記事ブロックの高さ上限を設定。（日付がはみ出てしまう現象が出現するがまあ問題なしとする）
.article-block{
    background-color: white;
    border: 1px solid #BBBBBB; 
    opacity: 0.8;
}

//text-overflowの導入によりテキスト一行途中…としてデザイン崩れ解消  https://tech.recruit-mp.co.jp/front-end/tips-ellipsis/
.padding-top-15 {
    padding-top: 15px;
}

.title-text-overflow {
    overflow: hidden;
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
}

/*編集画面のテキストエリア*/
.text-block {
    padding-bottom: 15px;
}

/* 詳細ページのテキストエリア */
h3 {
    padding: 20px 15px 0;
    margin: 0; /* 初期のマージンを削除するため */
}

/* 詳細ページのテキストエリア */
.show-text {
    padding: 15px;
    line-height: 1.6;  /* 上下行間をいい感じに空ける処理 */
}

// 詳細画面の画像について
.article-image {
    width: 100%;
    height: 350px;
    object-fit:cover;
    
}

// 投稿時間※影響元が不明→text-rightがどっかにある　margin-bottomも謎
.time-font-show {
    font-size: 15px;
    padding-top: 10px;
}

.time-font-index {
    font-size: 70%;
}

//記事一覧ページ　のタイトル
.title {
    font-size: 90%;
}

// 記事一覧全体を中央寄せにしたい
// 以下対応で一旦妥協
.articles{
    padding-left: 10%;
}

//記事一覧の文字色のみ指定
.articles a {
    color: rgba(10, 10, 10, 0.651);
}

// 一覧画面の写真について
.article-list-image {
    height: 120px;
    width: 100%;
    object-fit: cover;
}


//index-下部 button
.index-new-btn {
    text-align: center;
}

//画像投稿画像を作成する際に、カメラを画像の中心にFontAwesomeを活用。二重表示などの不具合があったので、Rails6用のダウンロードを実行し、改善。
.relative {
    position: relative;

    i {
      position: absolute;
      top: 30%;
      left: 30%;
      font-size: 50px;
      color: white;
    }
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

//notice,alert位置を変更。文字色はbodyの影響を受けている。padding-topについて、application.scssのbody操作に準ずる。
.alert {
    text-align: center;
    font-size: 15px;
    color:goldenrod;
    margin: 0px;
    padding: 0px; //初期にpadding：15px存在していたため削除
    background-color: rgba(169, 169, 169, 0.39);
    border: none;
}
   
.notice {
    text-align: center;
    color:goldenrod;
    margin-top: 6.1rem;
    font-size: 15px;
    background-color: rgba(169, 169, 169, 0.473);
    border: none;
}


//show.html.erb の上部空白,2remはapplication.scssの全体上部空白に合わせた。
.margin-top-2rem {
    margin-top: 2rem;
}

.centering {
    padding-right: 15px;
    .go-top {
    text-align: center;
    }
}

.regist-back-button {
    margin-top: 30px;
}


